<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web3-registration</title>
</head>
<body>

<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/transaction">Transaction</a>
        </td>
    </tr>
</table>

<div align="center" style="padding-top: 60px">
    <form method="post">
        <label>
            Name
            <input type="text" name="name" />
        </label>
        <label>
            Password
            <input type="password" name="password" />
        </label>
        <label>
            Money
            <input type="text" name="money" />
        </label>
        <input type="submit" value="registration" />
    </form>
</div>

</body>
</html>